.headers {
  border-bottom: 1px solid #DDD;
  padding: 5px;
  display: none;
}
#httpHeadersModal {
  width: 800px;
}
.http-headers-component {
  margin-left: 10px;
  min-height: 130px;
  overflow-y: scroll;
}

.http-headers-component > .http-headers > ul{
      border: 1px solid #eee;
      min-height: 100px;
      margin-bottom: 5px;
}
.http-headers-component > .header-key {
      display: inline-block;
      height: 100%;
      width: 180px;
      text-align: right;
      padding-right: 10px;
      overflow: hidden;
}
.http-headers-component > a > span{
        display: inline-block;
        overflow: hidden;
}
.http-headers-component > a:hover {
      background-color: #0088cc;
      color: #FFF;
}
.http-headers-component > .http-headers-controls {
    margin-bottom: 5px;
    margin-left: 5px;
}

