<div class="endpoints-component" data-endpoints="<%="#{@endpoints.to_json}"%>">
  <h4>Endpoints</h4>
  <div class="endpoints">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="selectEndpoint">
          Api Endpoint
        </label>
        <div class="controls">
          <select class="input-xxlarge" id="selectEndpoint"></select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Parameters
        </label>
        <div class="controls">
          <a class="btn create-parameter" href="#endpointsModal">+</a>
        </div>
      </div>
      <div class="controls parameters"></div>
    </form>

    <div class="control-group template">
      <label class="control-label" for="inputParam">
        Param Name
      </label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on remove-parameter">
            <i class="icon-remove hide"></i>
          </span>
          <input class="input-xxlarge" id="inputParam" type="text"></input>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal hide fade" id="endpointsModal">
  <div class="modal-header">
    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Custom Parameter</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputParameterFieldName">
          Value
        </label>
        <div class="controls">
          <input class="input-xlarge" id="inputParameterFieldName" type="text" placeholder="Parameter Name"></input>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn" href="#" data-dismiss="modal">Cancel</a>
    <a class="btn btn-primary add-parameter" href="#">Ok</a>
  </div>
</div>


