div.row.headers
  div.http-headers-component
    h4 HTTP Headers
    div.http-headers(data-headers="#{@custom_headers}")
      ul.http-headers-list.nav.nav-list

    div.http-headers-controls
      a.btn.create-http-header(href='#httpHeadersModal')
        == "+"
      a(href='#' class='btn remove-http-header')
        == "-"

  div.modal.hide.fade#httpHeadersModal
    div.modal-header
      button.close(type='button' data-dismiss='modal' aria-hidden='true')
        == "&times;"
      h4 Http Headers
    div.modal-body
      form.form-horizontal
        div.control-group
          label.control-label(for='inputHttpHeaderFieldName') Header
          div.controls
            input#inputHttpHeaderFieldName
        div.control-group
          label.control-label(for='inputHttpHeaderValue') Value
          div.controls
            input.input-xxlarge#inputHttpHeaderValue(type='text' placeholder='value')

    div.modal-footer
      a.btn(href='#' data-dismiss='modal') Cancel
      a.btn.btn-primary.add-http-header(href='#') Ok
