div.navbar.navbar-inverse.navbar-fixed-top
  a.brand(href="#") APIc
  div.navbar-inner
    div.container
      ul.nav
        li.edit-headers
          a(href="#headers") Headers
        li.edit-endpoints.active
          a(href="#endpoints") Endpoints
