<div class="navbar navbar-inverse navbar-fixed-top">
  <a class="brand" href="#">
    APIc
  </a>
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="edit-headers">
        <a href="#headers">
          Headers
        </a>
        </li>
        <li class="edit-endpoints active">
        <a href="#endpoints">
          Endpoints
        </a>
        </li>
        <li class="toggle-history">
        <a href="#history">
          History
        </a>
        </li>
      </ul>
    </div>
  </div>
</div>
