<!DOCTYPE html>
<html>
<head>
  <title>Apic</title>
  <%= stylesheet_link_tag    "apic/application", media: "all" %>
  <%= javascript_include_tag "apic/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
